# SERVER

HOST = "127.0.0.1"

PORT = "3000"

DEBUG = True

SECRET_KEY = "2c6b20ffffbf33ad906135ca5f1f2238"

# DB

USERNAME = ""

PASSWORD = ""

DB_URL = ""

DB_PORT = ""

DB_NAME = ""

# EMAIL

EMAIL_USERNAME = ""
EMAIL_PASSWORD = ""
