{% extends 'main.html' %}

{% block css_imports %}
{% endblock css_imports %}

{% block content %}
  <div style="height:20px;"></div>
    <div class="display:flex;align-items:center;justify-content:center;">
      <h1 class="font_prop" style="font-size:20em;padding:0;margin:0;text-align: center;letter-spacing: -30px;">404</h1>
      <h3 class="font_prop" style="font-weight:300;font-size:1.3em;text-align: center;padding:0;margin:0;margin-top:-4em;">Oops, this URL doesn't exist!</h3>
    </div>
  <div style="height:20px;"></div>
{% endblock content %}

{% block js_imports %}
{% endblock js_imports %}
