{% extends 'main.html' %}

{% block css_imports %}
{% endblock css_imports %}

{% block content %}
  <div style="height:20px;"></div>
    {% if current_user.is_admin==False %}
      <div style="float:right;">
        <h2 class="font_prop headings" style="display: inline;">Issued&nbsp</h2>
        <h2 class="font_prop headings" style="display: inline;font-weight:300;font-size:1.25em;">{{ num_issued }} of 5</h2>
      </div>
    {% endif %}
    <h2 class="font_prop headings" style="display:inline;">Semester&nbsp</h2>
    <h2 class="font_prop headings" style="display:inline;font-weight:300;font-size:1.35em;">{{ sem }}</h2>
    <div style="height:1em;"></div>
    <div class="books_grid">
      {% for i,book in enumerate(books) %}
        {% if current_user.is_admin==False %}
          <div class="book">
        {% else %}
          <div class="book" style="height:33.1em;">
        {% endif %}
          <img class="book_img" src="{{ book.img_url }}" onerror="this.style.opacity='0';">
          <div style="height:6em;">
            <h5 class="font_prop book_title">{{ book.title }}</h5>
            <h5 class="font_prop book_author">{{ book.author }}</h5>
          </div>
          {% if current_user.is_admin==False %}
            {% if issue_status[i]==True %}
              <form method="post" action="{{ url_for('transact',book_id=book.id) }}">
                <button class="font_prop submit_button" style="float:right;">RETURN</button>
              </form>
            {% else %}
              {% if book.stocks!=0 %} 
                <form method="post" action="{{ url_for('transact',book_id=book.id) }}">
                  <button class="font_prop submit_button" style="float:right;">ISSUE</button>
                </form>
              {% else %}
                <form method="post", action="{{ url_for('notify',book_id=book.id) }}">
                  <button class="font_prop submit_button" style="float:right;">NOTIFY</button> 
                </form>
              {% endif %}
            {% endif %}
          {% else %}
            <h5 class="font_prop book_title" style="display:inline;font-size:0.85em;">Stocks&nbsp</h5>
            <h5 class="font_prop book_author" style="display:inline;font-size:0.85em;letter-spacing: -0.5px;">{{ book.stocks }}</h5>
            <div style="height:1em"></div>
            <form method="post" action="{{ url_for('modify_stocks',book_id=book.id) }}">
              <h5 class="font_prop book_title" style="display:inline;font-size:0.95em;">Add / Delete stocks</h5><br>
              <div style="height:0.4em"></div>
              <input style="width:14.5em;" name="stocks" type="number" required><br>
              <div style="height:5px;"></div>
              <button class="font_prop submit_button" style="float:right;">MODIFY STOCKS</button>
            </form>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  <div style="height:20px;"></div>
{% endblock content %}

{% block js_imports %}
{% endblock js_imports %}
