{% extends 'main.html' %}

{% block css_imports %}
{% endblock css_imports %}

{% block content %}
  <div style="height:20px;"></div>
  <div style="display:flex;align-items:center;justify-content:center;">
    <div class="explore_links_div">
      {% for i in range(3,9) %}
        <a href="{{ url_for('explore',sem=i) }}">
          <div class="explore_link">
              <div class="explore_link_sem">
                  {{ i }}
              </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
  <div style="height:20px;"></div>
{% endblock content %}

{% block js_imports %}
{% endblock js_imports %}
