<!DOCTYPE HTML>

<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    {% block css_imports %}
    {% endblock css_imports %}
  </head>

  <body>
    {% autoescape false %}
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="font_prop flash_message">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    {% endautoescape %}

    {% if current_user.is_authenticated %}
      <div class="entry_img_div" style='background-image: url("{{ url_for("static",filename="images/library.jpg") }}");height:22em;'>
        
        <div style="height:2em;"></div>

        <div style="display:flex;align-items:center;justify-content:center">
          <a href="{{ url_for('home') }}"><h5 class="font_prop" style="display:inline;font-size:10em;padding-left:0.5em;letter-spacing:-7px;text-align:center;">CSE Library</h5></a>
        </div>
        
        <div style="float:right;margin-top:-14.8em;">
          <h5 class="font_prop" style="display:inline;font-weight:300;font-size:1em;">Welcome,&nbsp</h5>
          <h5 class="font_prop" style="display:inline;font-size:1em;padding-right:1em;font-weight:500;">{{ current_user.first_name }}</h5>
        </div>

        <div style="height:2em;"></div>

        <div class="nav_bar_div">
          <a href="{{ url_for('logout') }}">
            <div class="nav_bar_element">
              LOGOUT
            </div>
          </a>

          <a href="{{ url_for('explore_links') }}">
            <div class="nav_bar_element">
              EXPLORE
            </div>
          </a>

          <a href="{{ url_for('search') }}">
            <div class="nav_bar_element">
              SEARCH
            </div>
          </a>

          <a href="{{ url_for('home') }}">
            <div class="nav_bar_element">
              HOME
            </div>
          </a>
        </div>
      </div>
      <div style="height:1em;"></div>
    {% else %}
      <div class="entry_img_div" style='background-image: url("{{ url_for("static",filename="images/library.jpg") }}");'>
        <div style="height:5em;"></div>
        <div style="display:flex;align-items:center;justify-content:center">
          <a href="{{ url_for('home') }}"><h5 class="font_prop" style="display:inline;font-size:10em;padding-left:0.5em;letter-spacing:-7px;text-align:center;">CSE Library</h5></a>
        </div>
        <div style="height:1em"></div>
        <div style="display:flex;align-items:center;justify-content: center;">
          <a href="{{ url_for('login') }}"><button class="font_prop submit_button" style="height:2.2em;width:8em;font-size:1.2em;">LOGIN</button></a>
          &nbsp&nbsp&nbsp&nbsp
          <a href="{{ url_for('register') }}"><button class="font_prop submit_button" style="height:2.2em;width:8em;font-size:1.2em;">REGISTER</button></a>
        </div>
      </div>
    {% endif %}

    <div style="margin-left:1em;margin-right:1em;">
      {% block content %}
      {% endblock content %}
    </div>

    <div style="height:1em;"></div>

    <div class="footer">
      <h5 class="font_prop" style="font-size:1em;text-align:center;color:white;padding-top:0.7em;font-weight:500;">© 2022 CSELibrary</h5>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block js_imports %}
    {% endblock js_imports %}
  </body>
</html>
