{% extends 'main.html' %}

{% block css_imports %}
{% endblock css_imports %}

{% block content %}
  <div style="height:20px;"></div>
    <h2 class="font_prop headings" style="text-align: center;">Register</h2>
    <div style="display:flex;align-items:center;justify-content:center;">
      <div style="width:15em;">
        <form method="post" action="{{ url_for('register') }}">
          <label for="first_name">First Name</label><br>
          <input name="first_name" type="text" required><br>
          <label for="first_name">Last Name</label><br>
          <input name="last_name" type="text" required><br>
          <label for="email">Email</label><br>
          <input name="email" type="email" required maxlength="45"><br>
          <label for="password">Password</label><br>
          <input name="password" type="password" required minlength="5"><br>
          <label for="confirm_password">Confirm Password</label><br>
          <input name="confirm_password" type="password" required><br>
          <div style="height:10px;"></div>
          <button class="font_prop submit_button" style="float:right;margin-right:-0.5em;">REGISTER</button>
        </form>
      </div>
    </div>
    
  <div style="height:20px;"></div>
{% endblock content %}

{% block js_imports %}
{% endblock js_imports %}
