{% extends 'main.html' %}

{% block css_imports %}
{% endblock css_imports %}

{% block content %}
  <div style="height:20px;"></div>

    <h2>SEARCH</h2>

    <form method="post">
      <label for="search"></label>
      <input name="search" type="text" required maxlength="100">
      <button>Submit</button>
    </form>
    <br>

    <div class="books_grid">
      {% for i,book in enumerate(books) %}
        <div class="book">
          <img class="book_img" src="{{ book.img_url }}">
          <h5>TITLE: {{ book.title }}</h5>
          <h5>AUTHOR: {{ book.author }}</h5>
          {% if issue_status[i]==True %}
            <form method="post" action="{{ url_for('transact',book_id=book.id) }}">
              <button>RETURN</button>
            </form>
          {% else %}
            {% if book.stocks!=0 %} 
              <form method="post" action="{{ url_for('transact',book_id=book.id) }}">
                <button>ISSUE</button>
              </form>
            {% else %}
              <button>NOTIFY</button> 
            {% endif %}
          {% endif %}
        </div>
      {% endfor %}
    </div>
  <div style="height:20px;"></div>
{% endblock content %}

{% block js_imports %}
{% endblock js_imports %}
